.content h3 
    font-size: 4em !important

.navbar .navbar-menu .navbar-start .navbar-end
    display: inherit

.navbar-start
    justify-content: center
    width: 100%

.navbar-item
    font-weight: bolder
    font-size: 1.2em
    border-right: 1px solid grey
    padding-right: 1em